/*GLOBAL STYLING*/
body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

h1, p {
    color: #FFFFFF !important;
}

.para-subtitle {
    font-family: 'Montserrat', sans-serif;
}

::selection {
  background: #fccece;
}

/*NAVBAR STYLING
######################################################################*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .menunav {
      color: #FFF;
      font-family: 'Archivo Black', sans-serif;
      font-size: 25px !important;
      float: right !important;
      margin-right: px;
      position: ;
      padding-right: 10px;
  }

  .menunavcontain {
      overflow: auto;
      position: relative;
      width: 100%;
      height: 100%;
  }

/*STYLING HERO*/
.hero-bg {
    background-image: url(/assets/img/axonwelcome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.fa-arrow-down {
    padding-left: 5px;
    font-size: 15px;
}

.hero-bg h1 {
    font-size: 2em
}


section {
    background-color: #222222;

}

/* BODY STYLING - BATTERY SERVICES
######################################################*/
.batteryserv-sec {
    margin-top: -50px !important;
}

/*FOOTER STYLING*/
  .footer-link {
      text-decoration: none !important;
      padding: 2px;
      font-size: 2em;
      color: #666666;

      transition: 0.5s;
  }

  .footer-link:hover {
      color: #ffffff;
  }

.footer-social {
    font-size: 1.25em;
    letter-spacing: 0px;
    color: #444444 !important;
}

/*DISCLAIMER SECTION*/
.section-disclaimer {
    background-color: #181818 !important;
    height: 30px;
    margin: 0;
}

































/* 
Contact Form
########################################################*/
/*CONTACT FORM STYLING*/
.form-section {
    background-color: #252525;
}

.form-section p {
    font-style: italic;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 0, 21);
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid rgb(255, 0, 21);
  }

  .form-field {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: ;
  }







.form-section {
  margin-bottom: -65px;
}

    /* new contact form styling */

    .field {
        margin: 1em 0;
      }
      
      label {
        display: block;
        margin-top: 2em;
        margin-bottom: 0.5em;
        color: #999999;
      }
    
      #ajax-contact input {
        background-color: ;
      }
      
      input {
        width: 100%;
        padding: 0.5em 0.5em;
        font-size: 1.2em;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
      }
    
      .field {
          padding-bottom: 0px;
      }
      
      textarea {
        width: 100%;
        height: 200px;
        padding: 0.5em 0.5em;
        font-size: 1.2em;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
      }
      
      button {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 0.9rem;
        padding: 0.5rem 0.8em;
        background-color: #23D160;
        border-bottom: 1px solid #498b50;
        color: white;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0;
        width: 100%;
        text-align: center;
      }
      
      button:hover, button:focus {
        opacity: 0.75;
        cursor: pointer;
      }
      
      button:active {
        opacity: 1;
        box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
      }
      
      .success {
        padding: 1em;
        /*Margin was 0.75rem*/
        margin-bottom: 4rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #468847;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
      }
      
      .error {
        padding: 1em;
        margin-bottom: 4rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #b94a48;
        background-color: #f2dede;
        border: 1px solid rgba(185, 74, 72, 0.3);
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
      }
    
      #form-messages {
    
      }