/*GLOBAL STYLING*/
body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

h1, p {
    color: #FFFFFF !important;
}

/*NAVBAR STYLING*/

/*STYLING HERO*/
.hero-bg {
    background-image: url(/assets/img/axonwelcome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.fa-arrow-down {
    padding-left: 5px;
    font-size: 15px;
}

.hero-bg h1 {
    font-size: 2em
}


section {
    background-color: #222222;

}

/*CONTACT FORM STYLING*/
.form-section {
    background-color: #252525;
}

.form-section p {
    font-style: italic;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 0, 21);
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid rgb(255, 0, 21);
  }

  .form-field {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: ;
  }

/*FOOTER STYLING*/
  .footer-link {
      text-decoration: none !important;
      padding: 2px;
      font-size: 2em;
      color: #666666;

      transition: 0.5s;
  }

  .footer-link:hover {
      color: #ffffff;
  }

.footer-social {
    font-size: 1.25em;
    letter-spacing: 0px;
    color: #444444 !important;
}

/*DISCLAIMER SECTION*/
.section-disclaimer {
    background-color: #181818 !important;
    height: 30px;
    margin: 0;
}


























input {
    display: none;
  }
  
  .open {
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  .open:before {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 135, 2, 0.9);
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    padding: 10px 0;
  }
  
  .menu ul li a:hover {
    color: #ff8702;
  }
  
  .menu ul li:hover {
    background: white;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
  

